@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-white: #eeebe6;
  --color-gray-100: #f7f3f6;
  --color-gray-200: #c4c1bd;
  --color-gray-300: #8c8c8c;
  --color-gray-400: #1b1b1b;
  --color-yellow: #deaf3c;
  --color-yellow-dark: #423922;
  --color-green-base: #27c25e;

  --font-sans: "Raleway", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-display: "Playfair Display", Georgia, serif;

  --shadow-sm: 0px 4px 8px 0px rgba(54, 23, 45, 0.05);
  --gold-gradient: linear-gradient(
    135deg, rgb(224, 198, 133), rgb(223,176,58), rgb(184, 137, 20)
  );
}
